body {
  font-family: "Roboto", sans-serif;
  margin: 60px;
  text-align: center;
}

form {
  margin: 10px;
}
h1 {
  margin: 20px;
}

h2 {
  color: blue;
}

h3 {
  text-transform: capitalize;
  color: red;
}

h3 img {
}

h4 {
  color: green;
  font-size: 48px;
}

.card {
  padding: 20px 30px;
  border-radius: 20px;

  /*clear sky nighttime
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  color: whitesmoke;
  */

  background-image: linear-gradient(to top, #a1c4fd 0%, #c2e9fb 100%);
  /*clear sky daylight
  */
  /*thunderstorm
  background-image: linear-gradient(to left, #bdbbbe 0%, #9d9ea3 100%),
    radial-gradient(
      88% 271%,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(254, 254, 254, 0.25) 1%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    radial-gradient(
      50% 100%,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
  
          */

  /*snow
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  */
  /* Rain or cloudy
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  */
}
