body {
  font-family: "Roboto", sans-serif;
  margin: 60px;
  text-align: center;
}

form {
  margin: 30px;
}

h2 {
    line-height: 2.2;
    text-transform: capitalize;
}

h3 {
font-size: 48px;
}

.card {
  padding: 30px;
  /*Morning sunny*/
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);

  border-radius: 20px;
}
