body {
  font-family: "Roboto", sans-serif;
  margin: 60px;
  text-align: center;
}

form {
  margin: 10px;
}
h1 {
    margin: 20px;
}
h2 {
  text-transform: capitalize;
}

h3 {
  font-size: 48px;
}

.card {
  padding: 20px 30px;
  background-color: antiquewhite;
  /*Morning sunny
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);*/
  /* Rain or cloudy
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);*/
  border-radius: 20px;
}
